<body>
    <div class="container">
        <div class="heading">Login</div>
        <div class="input-group">
            <label for="username">Username or Email:</label>
            <input type="text" id="username" placeholder="Enter your username or email">
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Enter your password">
        </div>
        <button class="btn-login">Login</button>
        <p class="forgot-password"><a href="#">Forgot password?</a></p>
    </div>
</body>