<!-- <app-topbar></app-topbar> -->
<app-templatestatement></app-templatestatement>
<app-pipesdemo></app-pipesdemo>
<app-property-attribute-binding></app-property-attribute-binding>
<app-event-binding-parent></app-event-binding-parent>
<app-twoway-binding-parent></app-twoway-binding-parent>
<app-template-variables></app-template-variables>
<app-ng-class></app-ng-class>
<app-ng-style-demo></app-ng-style-demo>


<p Highlighter>This is highlighted using directive and ELEMENT REF is used too</p>
<p [Highlighter]="'green'">Testing same using HostListener , HOVER here</p>


<h3>ROUTER DEMO</h3>
<router-outlet></router-outlet>

